.pagination {
  text-align: center;
}

.pagination__page {
  display: inline-block;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.pagination__page:hover,
.pagination__page--current {
  color: #85c27d;;
}